{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li class="active"><a href="{% url 'sponsor' %}">Sponsor A Team</a></li>
                <li><a href="{% url 'support' %}">Support a Player</a></li>
                <li><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <body>
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default text-center"><strong>ENTER YOUR PROMO CODE</strong></div>
                <div class="panel-body">
                    <form id="checkPromo" class="form" action="/check_promo/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input id="promoCode" name="promoCode" type="text" class="form-control"
                                   placeholder="PROMO_CODE_1234">
                        </div>

                        <br>

                        <div class="form-group">
                            <span id="promoResult" class="col-lg-8 col-lg-offset-2"></span>
                            <button type="submit" name="promoResult" class="btn btn-primary btn-sm pull-right">
                                Submit
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default text-center"><strong>STEP TWO: BUY A TICKET</strong>
                </div>
                <div class="panel-body text-center">
                    <form action="https://www.eventbrite.com/e/first-annual-de-la-salle-north-catholic-high-school-cornhole-tournament-tickets-41440379290?ref=elink"
                          target="_blank">
                        <button id="buyBtn" type="submit" name="buyBtn" class="btn btn-primary btn-lg">
                            Buy Ticket
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}