{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'sponsor' %}">Sponsor A Team</a></li>
                <li><a href="{% url 'support' %}">Support a Player</a></li>
                <li><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
            <div id="shareContainer" class="pull-right">
                <div id="shareBtn"  class="fb-share-button" data-href="https://dlsnc-cornhole.com" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A8000%2F&amp;src=sdkpreparse">Share</a></div>
            </div>
        </div>
    </nav>
    <body>
    <div id="fb-root"></div>
        <!--Facebook share plug-in -->
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            $(document).ready(function() {


	            var $slides = $('[data-slides]');
	            var images = $slides.data('slides');
	            var count = images.length;
	            console.log(count);
	            var slideshow = function() {
		            $slides
			            .css({
                            'background': 'linear-gradient(rgba(44, 26, 8, 0.4),\
                                                            rgba(44, 26, 8, 0.4)\
                                            ),\
                                            url("' + images[Math.floor(Math.random() * count)] + '") no-repeat center',
                            'background-size': 'cover'
                        })
			            .show(0, function() {
				            setTimeout(slideshow, 5000);
			            });
	            };

	            slideshow();

            });

        </script>
    <div class="jumbotron text-center">
        <div class="bg"
             data-slides = '[
                "/static/pages/img/newcarousel1.png",
                "/static/pages/img/newcarousel2.png",
                "/static/pages/img/newcarousel3.png",
                "/static/pages/img/newcarousel4.png",
                "/static/pages/img/newcarousel5.png",
                "/static/pages/img/newcarousel6.png"
             ]'></div>
        <br><br><br><br><br><br><br><br><br><br>
        <h1>De La Salle North Catholic High School</h1>
        <h1>Inaugural Cornhole Tournament</h1>
        <br><br><br>
        <p>Saturday, February 24th , 2018 from 1-4 pm at the DLSNC Gymnasium.</p>
        <br><br>
        <a href="{% url 'register' %}">
            <input type="button" id="registerBtn" class="btn btn-info" value="REGISTER">
        </a>

    </div>
    <div class="container">
        <br>
        <div class="row">
            <div id="sponsorPanel" class="panel panel-default col-sm-4">
                <div class="panel-heading panel-heading-custom text-center">THANKS TO OUR GENEROUS SPONSORS!</div>
                <div class="panel-body">
                    <div class="panel-heading-custom text-center">PRESENTING SPONSOR</div>
                    <div class="panel-body">
                        <div id="sponsor1" class="sponsorImage"></div>
                    </div>
                    <br>
                    <div class="panel-heading-custom text-center">KNIGHT SPONSORS</div>
                    <div class="panel-body">
                        <div id="sponsor2" class="sponsorImage"></div>
                        <div id="sponsor3" class="sponsorImage"></div>
                    </div>
                    <br>
                    <div class="panel-heading-custom text-center">BLUE & GREY SPONSORS</div>
                    <div class="panel-body">
                        <div id="sponsor4" class="sponsorImage1"></div>
                        <div id="sponsor5" class="sponsorImage2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h2 class="text-center">Event Details</h2>
                <h3>When</h3>
                <p>Saturday, February 24th , 2018 from 1-4 pm</p>
                <br>
                <h3>Where</h3>
                <p>DLSNC Gymnasium, 7528 N. Fenwick Avenue, Portland OR 97217. Free parking in lot</p>
                <br>
                <h3>How Much</h3>
                <p>$75 pp ($150 per team) – individual's entry fee. Fee includes 2 drinks and “tailgate style” food</p>
                <p>Prizes for top teams, and top fundraising teams!</p>
            </div>
        </div>
    </div>
    </body>
{% endblock %}