{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'sponsor' %}">Sponsor A Team</a></li>
                <li><a href="{% url 'support' %}">Support a Player</a></li>
                <li><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <body>
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default text-center"><strong>STEP ONE: REGISTER
                    YOURSELF</strong></div>
                <div class="panel-body">
                    <form id="addRegistrant" class="form" action="/add_registrant/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputName1">First Name</label>
                            <input id="txtFirstName" name="txtFirstName" type="text" class="form-control"
                                   placeholder="Billy">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputName2">Last Name</label>
                            <input id="txtLastName" name="txtLastName" type="text" class="form-control"
                                   placeholder="Beanbags">
                        </div>

                        <div class="form-group">
                            <p>
                                <label for="exampleInputName2">E-mail</label>
                                <input id="txtEmail" name="txtEmail" type="text" class="form-control"
                                       placeholder="mr_bean@bags.com">
                        </div>

                        <label for="knowTeammate" class="col-lg-12 text-center">Do you already have a teammate?</label>
                        <br>
                        <div class="text-center">
                            <div id="knowTeammate" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked="">YES
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="options" id="option2" autocomplete="off">NO
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input id="pickTeammate" type="text" class="form-control" name='pickTeammate'
                                   placeholder="Teammate's name">
                        </div>

                        <br>

                        <div class="form-group">
                            <span id="registrationResult" class="col-lg-8 col-lg-offset-2"></span>
                            <button type="submit" name="btnSaveEmail" class="btn btn-primary btn-sm pull-right">
                                Save
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default text-center"><strong>STEP TWO: BUY A TICKET</strong>
                </div>
                <div class="panel-body text-center">
                    <form action="https://www.eventbrite.com/e/first-annual-de-la-salle-north-catholic-high-school-cornhole-tournament-tickets-41440379290?ref=elink"
                          target="_blank">
                        <button id="buyBtn" type="submit" name="buyBtn" class="btn btn-primary btn-lg">
                            Buy Ticket
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
        var exampleCallback = function () {
            console.log('Order complete!');
        };

        window.EBWidgets.createWidget({
            // Required
            widgetType: 'checkout',
            eventId: '41123033099',
            iframeContainerId: 'eventbrite-widget-container-41123033099',

            // Optional
            iframeContainerHeight: 500,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
            onOrderComplete: exampleCallback  // Method called when an order has successfully completed
        });

    </script>

    </body>
{% endblock %}