{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'donate' %}">Support A Team</a></li>
                <li><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <body>
    <div class="bg"></div>
    <div class="jumbotron text-center">
        <br><br>
        <h1>First Annual DLSNC AB Cornhole Tournament</h1>
        <br><br><br><br><br><br><br>
        <p>Saturday, February 24th , 2018 from 1-4 pm at the DLSNC Gymnasium.</p>
        <p>7528 N. Fenwick Avenue, Portland OR 97217. Free parking in lot.</p>
        <p>$125 pp ($250 per team) – individual's entry fee. Fee includes 2 drinks and “tailgate style” food.</p>
        <p>Prizes for top teams, and top fundraising teams.</p>
        <br><br><br>
        <a href="{% url 'register' %}">
            <input type="button" id="registerBtn" class="btn btn-info" value="REGISTER">
        </a>

    </div>
    <div class="container">
        <br>
        <div class="row">
            <div id="sponsorPanel" class="panel panel-default col-sm-4">
                <div class="panel-heading panel-heading-custom text-center">THANKS TO OUR GENEROUS SPONSORS!</div>
                <div class="panel-body">
                    <div id="sponsor1" class="sponsorImage"></div>
                    <br>
                    <div id="sponsor2" class="sponsorImage"></div>
                    <br>
                    <div id="sponsor3" class="sponsorImage"></div>
                    <br>
                    <div id="sponsor4" class="sponsorImage"></div>
                    <br>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <h2 class="text-center">Page Content</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
            </div>
        </div>
    </div>
    </body>
{% endblock %}