{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <div id="Banner">
        <div id="logoContainer">
            <div id="logo"></div>
        </div>
        <div id="titleContainer">
            <div id="title">
                <h1>First Annual DLSNC AB Cornhole Tournament</h1>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="sponsorsContainer">
            <h3>THANK YOU TO OUR GENEROUS SPONSORS!</h3>
            <div>SPONSOR</div>
            <div>SPONSOR</div>
            <div>SPONSOR</div>
            <div>SPONSOR</div>
            <div>SPONSOR</div>
        </div>
        <div id="evtDetails">
            <p>Saturday, February 24th , 2018 from 1-4 pm at the DLSNC Gymnasium.</p>
            <p>7528 N. Fenwick Avenue, Portland OR 97217. Free parking in lot.</p>
            <p>$125 pp ($250 per team) – individuals’ entry fee. Fee includes 2 drinks and “tailgate style” food.</p>
            <p>Prizes for top teams, and top fundraising teams.</p>
        </div>
    </div>
    <div id="footer">
    </div>
</body>




{% endblock %}