{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'donate' %}">Support A Team</a></li>
                <li class="active"><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <body>

    </body>
{% endblock %}