{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'sponsor' %}">Sponsor A Team</a></li>
                <li><a href="{% url 'support' %}">Support a Player</a></li>
                <li class="active"><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style>
        body {
            font-family: "Arial", sans-serif;
        }

        .bar {
            fill: #5f89ad;
        }

        .axis {
            font-size: 13px;
            fill: white;
        }

        .axis path,
        .axis line {
            fill: none;
            display: none;
        }

        .label {
            font-size: 13px;
            fill: white;
        }


    </style>
    <body>
    <br><br>
    <div id="graphic" class="col-lg-8 col-lg-offset-2"></div>

    <script>

        // Get data from views, push into an array for D3 consumption
        function getData(callback) {
            var json_data = [];
            for (let team of {{ teams|safe }}) {
                team['fields']['funding'] = team['fields']['corporate_funds'] + team['fields']['eventbrite_funds'];
                console.log(team);
                json_data.push(team['fields'])
            }

            console.log(json_data);
            return callback(json_data)
        }

        // D3 graphing of funding levels by team
        function graph(input_data) {
            //sort bars based on funding
            var data = input_data.sort(function (a, b) {
                return d3.ascending(a.funding, b.funding);
            });
            //set up svg using margin conventions - we'll need plenty of room on the left for labels
            var margin = {
                top: 15,
                right: 25,
                bottom: 15,
                left: 60
            };

            var width = 950 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            var svg = d3.select("#graphic").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            // Assign a linear scale for x-axis (funding)
            var x = d3.scale.linear()
                .range([0, width])
                .domain([0, d3.max(data, function (d) {
                    return d.funding;
                })]);

            // Assign ordinal scale for y-axis (team names)
            var y = d3.scale.ordinal()
                .rangeRoundBands([height, 0], .1)
                .domain(data.map(function (d) {
                    return d.name;
                }));

            // Make y axis to show bar names
            var yAxis = d3.svg.axis()
                .scale(y)
                //no tick marks
                .tickSize(0)
                .orient("left");

            var gy = svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)

            var bars = svg.selectAll(".bar")
                .data(data)
                .enter()
                .append("g")

            // Append rects
            bars.append("rect")
                .attr("class", "bar")
                .attr("y", function (d) {
                    return y(d.name);
                })
                .attr("height", y.rangeBand())
                .attr("x", 0)
                .attr("width", function (d) {
                    console.log(input_data);
                    return x(d.funding);
                });

            // Add a funding label to the right side of each bar
            bars.append("text")
                .attr("class", "label")
                //y position of the label is halfway down the bar
                .attr("y", function (d) {
                    return y(d.name) + y.rangeBand() / 2 + 4;
                })
                //x position is 40 pixels to the left of the bar
                .attr("x", function (d) {
                    return x(d.funding) - 40;
                })
                .text(function (d) {
                    return "$" + d.funding;
                });
        }

        // Get data, then graph it
        getData(function(response) {
            console.log("Result of getData: " + JSON.stringify(response));
            graph(response)
        })

    </script>

    </body>


{% endblock %}