{% extends 'base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.delasallenorth.org/">DLSNC</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li class="active"><a href="{% url 'sponsor' %}">Sponsor A Team</a></li>
                <li><a href="{% url 'leaderboard' %}">Fundraising Leaderboard</a></li>
                <li><a href="#myModal" data-toggle="modal">Contact Us</a></li>
            </ul>
        </div>
    </nav>
    <body>
    <br><br>
    <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="text-center panel-heading"><h3><strong>PRESENTING SPONSOR</strong></h3></div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <h1>$5,000 -- One Available</h1>
                        <br>
                        <ul>
                            <li><h4>Logo on invitation and DLSNC website</h4></li>
                            <li><h4>Logo on online registration site</h4></li>
                            <li><h4>Signage at event</h4></li>
                            <li><h4>2 cornhole teams</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="text-center panel-heading"><h3><strong>KNIGHT SPONSOR</strong></h3></div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <h1>$2,500 -- Four Available</h1>
                        <ul>
                            <li><h4>Logo on online registration site</h4></li>
                            <li><h4>Signage at event</h4></li>
                            <li><h4>2 cornhole teams</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="text-center panel-heading"><h3><strong>BLUE & GREY SPONSOR</strong></h3></div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <h1>$1,000 -- Eight Available</h1>
                        <ul>
                            <li><h4>Logo on online registration site</h4></li>
                            <li><h4>Signage at event</h4></li>
                            <li><h4>1 cornhole team</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="col-md-4 col-md-offset-4">
                            <a href="#myModal" data-toggle="modal" class="btn btn-primary btn-lg btn-block btn-huge">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}