body {
    margin: 0;
    font-family: Lato, sans-serif;
    background-color: #083a81;
}

h1 .btn {
	font-size:30px;
}

.navbar {
    margin: 0;
    border-radius: 0 !important;
}

.bg {
  background: linear-gradient(
					rgba(150, 150, 150, 0.5),
					rgba(150, 150, 150, 0.5)
				),
				url('/static/pages/img/LogoPurple.png') no-repeat center;
  position: fixed;
  width: 100%;
  height: 100vh; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.panel-default > .panel-heading-custom {
    background: #083a81;
    color: #fff;
}

.col-lg-3, .col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron {
  height: 100vh;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  margin-bottom: 0 !important;
}

.container {
    width: 100%;
    background-color: #cccccc;
}

.sponsorImage {
    height: 300px;
    background-image: url('/static/pages/img/placeholder.jpg');
    background-size: cover;
}

#sponsorPanel {
    margin-left: 10px !important;
}

.navbar-footer {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand-foot {
    float:none;
    color: #aaaaaa;
    font-size: 1.1em;
}

.navbar-brand-foot:hover {
    color: #eeeeee;
    text-decoration: none;
}